.result-container {
}

.result {
  background-color: #f3f3f5;
  margin-bottom: 2rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

/* .result:hover {
  border: #0489c7 solid 1px;
} */

.result-index {
  font-size: 3em;
  font-weight: 800;
  z-index: 1;
  opacity: 0.1;
}

.result-heading {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
}

.result-lead {
  font-size: 1.1rem;
  font-weight: 500;
  color: #567;
  margin-bottom: 1rem;
}

.result-members {
  margin-bottom: 1.3rem;
}

.result-member {
  color: #666;
  font-size: 1rem;
}

.result-member:not(:last-child)::after {
  content: ", ";
}

.result-domains {
}

.result-domain {
  font-size: 0.9rem;
  background-color: #bde1f1;
  border-radius: 100px;
  color: #0489c7;
  padding: 2px 20px;
  margin-right: 10px;
}
